#health11-12-25 {
  max-width:940px;
  font-family:"proxima-nova";
  border-top:1px solid #666;
  border-bottom:1px solid #666;
  position:relative;
  margin-bottom:50px;
  h2, h3 {max-width:none}
  .legend {
    margin-top:1em;
    margin-left:5%;
    margin-right:5%;
    @media (min-width:600px) {
      margin-left:10%;
      margin-right:10%;
    }
    font-size:12pt;
    @media (max-width:768px) {
      font-size:10pt;
    }
    white-space:nowrap;
    & > .box, & .fake-box {
      width:var(--bin-width);
      height:30px;
      margin-bottom:30px;
      display:inline-block;
      position:relative;
      border-left:1px solid #000;
      svg {
        width:100%;
        height:20px;
      }
      .label {
        position:absolute;
        text-align:center;
        left:0;
        bottom:-25px;
        & > div {
          position:relative;
          left:-50%;
        }
      }
    }
    & > .fake-box {
      width:0;
    }
  }
  span.roomy {
    display:none;
  }
  @media (min-width:700px) {
    span.compressed {
      display:none;
    }
    span.roomy {
      display:inline;
    }
  }
  .credit, .src-links {
    position:absolute;
    top:100%;
  }
  .src-links {
    text-align:left;
    left:0px;
    font-size:10pt;
    max-width:25%;
    line-height:1;
    margin-top:0.5em;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .credit {
    margin-top:0.5em;
    text-align:right;
    right:0px;
    text-transform: uppercase;
    color:#666;
    font-size:12pt;
    line-height:1;
    max-width:75%;
  }
  h2 {
    font-family:inherit;
    font-size:18pt;
    line-height:1.2;
  }
  h3 {
    font-family:"proxima-nova-condensed",sans-serif;
    font-weight:400;
    font-size:15pt;
    line-height:1.2;
  }
  .notes {
    font-size:11pt;
    line-height:1.2;
    margin-top:1em;
    color:#333;
  }
  .svg-wrap {
    width:100%;
    height:0;
    padding-bottom:58.14%;
    position: relative;
    position: relative;
  } 
  svg {
    width:100%;
    height: 100%;
    position: absolute;
    path.state {
      pointer-events:none;
    }
    path {
      transition: fill 0.2s;
      &.has-data {cursor:pointer;}
    }
    path.hover-active {
      fill:var(--district-hover-color)
    }
  }

  .buttons {
    position: absolute;
    width:2px;
    top:0;
    font-size:10pt;
    button {
      white-space: nowrap;
      width:80px;
      margin:0.5em 0.2em;
      border:1px solid #666;
      cursor:pointer;
      font-weight:bold;
      font-family:inherit;
      background-color: #f0f0f0;
      &:hover {
        background-color: #ccc;
      }
    }
  }

  .popup-wrap {
    position:fixed;
    opacity:0;
    transition:opacity 0.2s;
    z-index:100;
    pointer-events:none;
    &.visible {
      opacity:1;
      pointer-events:all;
    } 
    .popup {
      //width:400px;
      max-width:min(95vw, 450px);
      background-color: rgba(255, 255, 255, 0.94);
      z-index:10;
      position:relative;
      padding:10px;
      border:1px solid #aaa;
      h3 {
        font-size:14pt;
        line-height:1.2;
        margin-top:0;
        font-weight:bold;
        border-bottom:2px solid #000;
      }
      table {
        margin:0;
        font-size:10pt;
        @media (min-width:600px) {
          font-size:12pt;
        }
        border:0;
        font-family:"proxima-nova","Roboto",sans-serif;
        border-collapse: collapse;
        tbody, tr, td {
          font-size:inherit;
        }
        tr.header-groups {
          th {
            font-weight:bold;
          }
        }
        tr.header-subgroups {
          th {font-weight:normal;}
        }
        th {vertical-align: bottom;}
        td, th {
          padding:0;
          padding-right:0.5em;
          line-height:1.2;
          font-family:"proxima-nova-condensed","Roboto Condensed",sans-serif;
          border:none;
          text-align:right;
          & > span {
            padding-left:0.5em;
            display:inline-block;
          }
          &.group-start {
            border-left:1px solid #aaa;
          }
        }
        td:first-child, th:first-child {
          font-weight:bold;
          text-align:left;
          br {display:none;}
          @media (min-width:600px) {
            white-space:nowrap;
            br {display:inline;}
          }
          & > span {
            padding-left:0;
          text-indent:-10px;
          padding-left:10px;
          display:inline-block;
          }
        }
        tfoot td:first-child {
          white-space:wrap;
          font-weight:400;
          font-size:10pt;
          padding-top:1em;
          span {
            text-indent:0;
            padding:0;
          }
          font-family:"proxima-nova",sans-serif;
        }
      }
    }
  }

  &.mousedown {
    .popup-wrap {
      opacity:0;
      pointer-events: none;
    }
  }

}